<?xml version="1.0" encoding="ISO-8859-1"?>
<root>
	<item id="Data">
		<item id="plugin">
			<item id="available"><![CDATA[0]]></item>
			<item id="adminid"><![CDATA[0]]></item>
			<item id="name"><![CDATA[UCenter整合[插件版]]]></item>
			<item id="identifier"><![CDATA[ucenter]]></item>
			<item id="description"><![CDATA[通过连接UCenter，让商城会员与UCenter进行数据通信，实现与其他系统进行会员数据同步。]]></item>
			<item id="datatables"><![CDATA[]]></item>
			<item id="directory"><![CDATA[ucenter/]]></item>
			<item id="copyright"><![CDATA[海盗云商]]></item>
			<item id="modules">
				<item id="0">
					<item id="displayorder"><![CDATA[200]]></item>
					<item id="type"><![CDATA[5]]></item>
					<item id="name"><![CDATA[ucenter]]></item>
					<item id="menu"><![CDATA[UCenter整合[插件版]]]></item>
					<item id="url"><![CDATA[]]></item>
				</item>
				<item id="1">
					<item id="displayorder"><![CDATA[1]]></item>
					<item id="type"><![CDATA[hook]]></item>
					<item id="name"><![CDATA[hook]]></item>
					<item id="menu"><![CDATA[]]></item>
					<item id="url"><![CDATA[]]></item>
				</item>
			</item>
			<item id="version"><![CDATA[1.0.0]]></item>
			<item id="author"><![CDATA[海盗云商开发团队]]></item>
		</item>
		<item id="installfile"><![CDATA[install.php]]></item>
		<item id="uninstallfile"><![CDATA[uninstall.php]]></item>
	</item>
</root>