<?xml version="1.0" encoding="ISO-8859-1"?>
<root>
	<item id="Data">
		<item id="plugin">
			<item id="available"><![CDATA[0]]></item>
			<item id="adminid"><![CDATA[0]]></item>
			<item id="name"><![CDATA[下单短信通知]]></item>
			<item id="identifier"><![CDATA[place_order_msg]]></item>
			<item id="description"><![CDATA[用户商品下单后短信通知管理员]]></item>
			<item id="datatables"><![CDATA[]]></item>
			<item id="directory"><![CDATA[place_order_msg/]]></item>
			<item id="copyright"><![CDATA[海盗云商]]></item>
			<item id="modules"><![CDATA[]]></item>
			<item id="version"><![CDATA[1.0.0]]></item>
			<item id="author"><![CDATA[海盗云商开发团队]]></item>			
		</item>
		<item id="installfile"><![CDATA[install.php]]></item>
		<item id="uninstallfile"><![CDATA[uninstall.php]]></item>
	</item>
</root>