<?xml version="1.0" encoding="ISO-8859-1"?>
<root>
	<item id="name"><![CDATA[기본템플릿]]></item>
	<item id="version"><![CDATA[v1.0.0]]></item>
	<item id="time"><![CDATA[2016-07-12 17:00]]></item>
	<item id="author"><![CDATA[iNBAY개발팀]]></item>
	<item id="copyright"><![CDATA[iNBAY개발팀]]></item>
	<item id="template">
		<item id="common">
			<item id="header"><![CDATA[사이트HEAD]]></item>
			<item id="footer"><![CDATA[사이트FOOT]]></item>
		</item>
	</item>
</root>
